<div class="container"> 
  <h1>Listing Locations</h1>
  <div>
    <td><button type="" class="btn btn-outline-primary"><%= link_to 'New Location', new_location_path %></button></td>
    <td><button type="" class="btn btn-outline-dark"><%= link_to 'Extport', export_locations_path(:csv) %></button></td>
  </div>
  <table border="2">
    <tr>
      <th>City</th>
      <th>Address</th>
      <th>Options</th>
    </tr>

    <% @locations.each do |location| %>
    <tr>
      <td><%= link_to location.city, edit_location_path(location.id) %></td>
      <td><%= location.address %></td>
      <td>
        <button type="" class="btn btn-outline-info"><%= link_to 'Show', location_path(location.hash_id) %></button>
        <button type="" class="btn btn-outline-danger"> <%= link_to 'Delete', location_path(location.id), method: :delete, data: {confirm: "Are you sure?"}%></button></td>
      </td>

    </tr>
    <% end %>

  </table>
  <%= will_paginate @locations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
